.product-list {
    background-color: white;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
}

.product-category {
    color: gray;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}
